In this notebook, Data Science Tools and Ecosystem are summarized.

List popular languages for Data Science. 
1. R
2. SQL
3. Julia
4. Python
5. Scala

Some of the popular languages that Data Scientists use are:
 1. Peter Norvig
 2. Dean Abbott
 3. Leslie Kaelbling
 4. Jurgen Schmidhuber
 5. Corinna Cortes

Some of the commonly used libraries used by Data Scientists include:

 1. TensorFlow
 2. NumPy
 3. SciPy 
 4. Pandas
 5. Matplotlib

Data Science Tools

|SAS|Apache Spark|BigML|
|---|---|---|

Below are a few examples of evaluating arithmetic expressions in Python

 1. Parse the input expression.
 2. Change the expression's components into Python objects (numbers, operators, functions, and so on).
 3. Combine everything into an expression.
 4. Confirm that the expression is valid in Python.
 5. Evaluate the final expression and return the result.

In [46]:
(3*4)+5
This a simple arithmetic expression to mutiply then add integers.

17

In [36]:
200/60
This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Author
## Lakshmi Holla
## Niveditha Pandith